<div class="container">
  <div class="no_bus container-sm">
    <%= image_tag('no_bus.png', alt: 'Example Image') %>
  </div>
  <div class="text">
    <h3 class="display-6">You have not made any reservations yet.</h3>
  </div>
</div>