.seat_map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Optional: Style for disabled seats */
.seat-checkbox:disabled + label {
  background-color: #d33939;
  cursor: not-allowed;
}

/* Optional: Add hover effect for better user experience */
.seat-checkbox:not(:disabled):not(:checked):hover + label {
  background-color: #01831780;
  cursor: pointer;
}

.seat-checkbox {
  display: none;
}

.seat-checkbox + label {
  display: inline-block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 2px solid #ccc;
  color: black;
  border-radius: 5px;;
  margin: 8px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  transition: background-color 0.2s;
  background-color: white;
}

.seat-checkbox:checked + label,.seat-checkbox:hover {
  background-color: #026e14; 
  color: #000000;
}