.seat_map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Style for individual seat checkbox and label */
/* .form-check {
  margin: 5px;
  text-align: center;
} */

/* Style for the label to make it visually appealing */
/* .form-check label {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
} */

/* Style for selected seats */
/* .form-check input:checked + label {
  background-color: #4caf50;
  color: white;
} */

/* Optional: Style for disabled seats */
.seat-checkbox input:disabled + label {
  background-color: #d33939;
  cursor: not-allowed;
}

/* Optional: Add hover effect for better user experience */
/* .form-check label:hover {
  background-color: #ddd;
} */
.seat-checkbox {
  display: none;
}

.seat-checkbox + label {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 5px;;
  margin: 8px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: whitesmoke;
}

.seat-checkbox:checked + label,.seat-checkbox:hover {
  background-color: #018316; 
  color: #000000;
}