<h2>Search Bus</h2>
<%= render "search" %>
<br>
<h2 class = "heading">Available Buses</h2>
<%= render "table", buses: @buses %>
<div class="flickr_pagination">
  <%= will_paginate @buses %>
</div>
<% if user_signed_in? %>
  <% if policy(current_user).is_bus_owner? %>
    <%= link_to "Add New Bus", new_bus_path, class: "btn btn-primary" %>
  <% end %>
<% end %>
