<h2>Search Bus</h2>
<%= render "search" %>
<br>
<h2>Available Buses</h2>
<%= render "table", buses: @buses %>
<% if user_signed_in? %>
  <% if current_user.busowner? %>
    <%= link_to "Add New Bus", new_bus_path, class: "btn btn-primary" %>
  <% end %>
<% end %>
